body { 
	background: url('https://images2.alphacoders.com/901/901414.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.welcome{
    color: aquamarine;
    text-align: center;
}
.orders {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    width: 300px;
    height: 10%;
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px;
}
.listtitle{
    margin-left: 5px;
}
.listitems{
    margin-left: 25px;
}
/* .nav-bar{
    align-content: center;
    vertical-align: center;
    margin: auto;
    padding: 10px;
    display: flex;
} */
.nav-link{
    font-family:fantasy;
    border: 2px solid purple;
    margin-right: 3em;
    text-align: center;
    width: 180px;
    align-items: center;
}
h2{
    font-size:larger;
}
h3{
    margin-top: 5px;
    font-size: medium;
}

input[name="qty"] {
    width: 45px;

    display: inline-block;
  }

  nav {
	border-bottom: 2px solid rgb(22, 23, 23);
	max-width: 100%;
	text-align: center;
    margin-top: 15px;
}
ol {
	padding-left: 0;
}
.nav-link {
	margin-right: 2em;
	display: inline;
}
.orders{
    background-color: white;
}
h1[name="User"]{
    color: white;
    margin-left: 30px;
}

form[name="orderform"]{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    width: 300px;
    height: 10%;
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px;
    background-color: white;
}