body { 
	background: url('https://images2.alphacoders.com/901/901414.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.welcome{
    color: orange;
    text-align: center;
}
.orderspacer{
    margin-bottom: 5px;
}
.orders {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    width: 300px;
    height: 10%;
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 10px;
}
.listtitle{
    margin-left: 5px;
}
.listitems{
    margin-left: 25px;
}
/* .nav-bar{
    align-content: center;
    vertical-align: center;
    margin: auto;
    padding: 10px;
    display: flex;
} */
.nav-link{
    font-family:fantasy;
    border: 2px solid orangered;
    margin-right: 3em;
    text-align: center;
    width: 180px;
    align-items: center;
    background-color:rgb(97, 52, 23);
}
a{
    color: rgb(251, 146, 0);
}
h2{
    font-size:larger;
}
h3{
    margin-top: 5px;
    font-size: medium;
}

input[name="qty"] {
    width: 45px;

    display: inline-block;
  }

nav {
	max-width: 100%;
	text-align: center;
    margin-top: 15px;
}
ol {
	padding-left: 0;
}
.nav-link {
	margin-right: 2em;
	display: inline;
}
.orders{
    background-color: white;
}
h1[name="User"]{
    color: white;
    margin-left: 30px;
}

form[name="orderform"]{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    width: 300px;
    height: 10%;
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px;
    background-color: white;
}

.homedesc{
    padding: 1rem;
	width: 30%;
    height: 30%;
	margin: 4rem auto;
	font-family: "Open Sans", sans-serif;
	background-color: rgb(247, 185, 118);
	box-shadow: 5px 10px 10px orange;
    border-radius: 5px;
}
h1[name="hometitle"]{
    text-align: center;
    padding: 6px;
	width: 145px;
    height: 60px;
	margin: 4rem auto;
	font-family: "Open Sans", sans-serif;
	background-color: rgb(247, 185, 118);
	box-shadow: 5px 10px 10px orange;
    border-radius: 5px;
}

img[name="logo"]{
    width: 250px;
    height: 250px;
  display: inline;
  margin-top: -110px;
  margin-left: auto;
  margin-right: auto;
}