{% extends "base.html" %}
{% block title %} Track your Order {% endblock %}
{% block body %}

    
    <h1>{{current_user.first_name}}'s Orders</h1>
        <ul class="orders">
            {% for ord in orders %}
            <h2 class="listtitle">Charbroiled Burgers</h3>
            <li class="listitems">Quantity: {{ord.qty}}</li>
            <li class="listitems">Order ID: {{ord.order_id}}</li>
            <h3>Change Quantity?</h3>
            <div>
            <form method="put" action="/update_order">
            {{form.hidden_tag()}}
            {{form.qty.label}}{{form.qty}}<br>
            {{form.submit}}
            </form>
            </div>
            {% endfor %}
        </ul>
    
{% endblock %}