{% extends "base.html" %}
{% block title %} Register {% endblock %}

{% block body %}
    <form name="registerform" method="post" action="/register">
        {{form.hidden_tag()}}
        {{form.email.label}}{{form.email}}<br>
        {{form.password.label}}{{form.password}}<br>
        {{form.confirm_password.label}}{{form.confirm_password}}<br>
        {{form.first_name.label}}{{form.first_name}}<br>
        {{form.last_name.label}}{{form.last_name}}<br>
        {{form.address.label}}{{form.address}}<br>
        {{form.phone.label}}{{form.phone}}<br>
        {{form.newsletter.label}}{{form.newsletter}}<br>
        {{form.submit}}

    </form>

{% endblock %}